<div class="main_chat_top">
  <div class="room_title">
    ななちゃんの部屋
  </div>
  <div class="chat_end">
    <a href="#">チャットを終了する</a>
  </div>
</div>
<div class="main_chat_middle">
  <div class="message">
    <div class="message_head">
      <div class="message_name">
        Yukihiro
      </div>
      <div class="message_date">
        2021/12/7(Thu) 21:25:00
      </div>
    </div>
    <div class="message_body">
      <div class="message_text">
        おはようございます。
      </div>
    </div>
  </div>
  <div class="message">
    <div class="message_head">
      <div class="message_name">
        nana
      </div>
      <div class="message_date">
        2021/12/7(Thu) 21:25:00
      </div>
    </div>
    <div class="message_body">
      <div class="message_text">
        こんばんは
      </div>
    </div>
  </div>
</div>
<div class="main_chat_bottom">
  <div class="chatbox-input">
    <input type=text class="chatbox" placeholder="type a message">
    <label class=form-image>
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input type="submit" class="SEND" value="送信">
</div>