  <div class="message">
    <div class="message_head">
      <div class="message_name">
        <!--- 投稿したユーザー名情報を出力する -->
        <%= message.user.name %>
      </div>
      <div class="message_date">
        <!-- 投稿した時刻を出力する -->
        <%= l message.created_at %>
      </div>
    </div>
    <div class="message_body">
      <div class="message_text">
        <!-- 投稿したメッセージ内容を出力する -->
        <%= message.content %>
      </div>
      <%= image_tag message.image.variant(resize: '500x500'), class: 'message-image' if message.image.attached? %>
    </div>
  </div>
  