<div class=side_bar_top>
  <div class = "user_name">
    <%= link_to current_user.name, edit_user_path(current_user) , class:"a" %>
  </div>
  <div class = "new_chat">
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class="side_bar_bottom">
  <div class="room_name">
    <a href="#">ななちゃんの家</a>
  </div>
  <div class="room_name">
    <a href="#">ななちゃんの家2</a>
  </div>
</div>